* {
  user-select: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 150ms ease-in-out;
  transition-property: background, color;
}

:root {
  --borderCommonColor: rgba(0, 110, 255, 0.897);
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #e0e0e0;
}

div.app {
  position: absolute;
  width: 100%;
  height: 83%;
  overflow-y: scroll;
}

/*app topic button and div*/
div.appTopicDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button.appTopic_ {
  position: relative;
  display: flex;
  width: 250px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  background: rgb(212 212 212);
}

button.appTopic_:hover {
  background: rgba(43, 42, 42, 0.692);
  filter: brightness(0.96);
  animation: _borderColor 500ms cubic-bezier(0.74, -0.25, 0.27, 1.55) 1 forwards;
}

button.appTopic_:hover .tp_sp {
  color: rgb(255, 255, 255);
}

button.appTopic_ .tp_sp {
  font-weight: 400;
  margin: 5px;
  font-size: 26px;
  color: #404040;
}

span.tp_sp_1 {
  font-family: AponaLohit;
}

span.tp_sp_2 {
  font-family: AponaLohit;
}

span.tp_sp_3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*nav*/
div.navBar {
  background: #404040;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #f5f3f3 !important;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.navBar span {
  cursor: pointer;
}

div.navBar > div {
  padding: 5px;
}

div.navBar > div:nth-child(2) {
  display: flex;
  overflow-y: hidden;
}

div.navBar > div:nth-child(2) > span {
  margin-right: 5px;
}

select[name="surahSelect"],
select[name="surahSelect_1"],
select[name="surahSelect_2"] {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

/*surahCollectionDiv*/
div.surahCollectionDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f5f0f0;
  margin: 15px;
  box-shadow: 0 0 2px 2px rgba(36, 35, 35, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

div.surahCollectionDiv:hover {
  filter: brightness(0.96);
}

div.surahCollectionDiv > div {
  position: relative;
  padding: 15px 0;
  color: rgb(46, 45, 45);
  font-size: 18px;
}

div.surahCollectionDiv > div:nth-child(1) {
  padding-left: 15px;
  width: 70%;
}

div.surahCollectionDiv > div:nth-child(1) > div:nth-child(1),
div.surahCollectionDiv > div:nth-child(2) > div:nth-child(1) {
  margin-bottom: 5px;
}

div.surahCollectionDiv > div:nth-child(2) {
  text-align: right;
  padding-right: 15px;
}

.spanBanFont {
  font-family: AponaLohit;
  font-weight: 600;
}

.spanEngFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*singleSurahTexts*/
div.singleSurahTexts {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f5f0f0;
  margin: 15px;
  box-shadow: 0 0 2px 2px rgba(36, 35, 35, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms ease-in-out;
  transition-property: transform, background;
}

div.singleSurahTexts:active {
  transform: scale(0.985);
  background: #acf1f1;
}

div.singleSurahTexts > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

div.singleSurahTexts > div span {
  font-size: 22px;
}

.surahArb {
  font-size: 26px !important;
  font-weight: normal !important;
}

.surahNo {
  padding: 5px;
  border-radius: 10px;
  background: #404040;
  color: #e0e0e0 !important;
  text-align: left !important;
  width: min-content;
  align-self: flex-end;
}

.spanBanFont1 {
  width: 100%;
  font-family: AponaLohit;
  font-weight: 500;
  text-align: center;
}

.spanEngFont1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footNote_ {
  font-weight: 400;
  font-style: italic;
  background: rgba(0, 0, 0, 0.1);
}

.grade_ {
  font-weight: 400;
  font-style: italic;
  background: #404040;
  color: #e0e0e0;
  margin-top: 10px;
  padding: 5px 0;
}

/*copyDivText*/
div.copyDivText {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: #000000b0;
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.copyDivText > div {
  position: relative;
  background: #f5f0f0;
  padding: 15px;
  border-radius: 5px;
}

div.copyDivText > div > div {
  background: #f5f0f0;
  position: relative;
  height: 150px;
  width: 260px;
  overflow: hidden;
}

div.copyDivText > div > div > div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  transition: 150ms ease-in-out;
  transition-property: transform;
}

div.copyDivText > div > div > div > div {
  width: 260px;
  margin: 0 10px;
}

div.copyType > div {
  background: #ebebeb;
  border-radius: 5px;
  margin: 15px 0;
  width: 80%;
  padding: 10px;
  transition: background 150ms ease-in-out;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 500;
  color: #505050;
  text-align: center;
}

div.copyType > div:hover {
  background: #87f6f6;
}

div.dontHide h2,
div.dontHide h3 {
  font-weight: 500;
}

div.CopyPreviewedOne {
  background: #6495ed;
  color: #ffffff;
  padding: 8px 16px;
  width: min-content;
  border-radius: 5px;
  font-weight: 500;
  float: right;
  margin-right: 20px;
  transition: background 150ms ease-in-out;
  cursor: pointer;
}

div.CopyPreviewedOne:hover {
  background: #3569c9;
}

div.previewOn {
  padding: 5px;
  height: 55px;
  width: 230px;
  background: aqua;
  margin: 5px 0;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

div.previewOn_1 {
  display: none;
}

/*div.copyDivTextContainer*/
div.copyDivTextContainer {
  display: none;
}

/*enlarge_preview*/
div.enlarge_preview {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 50vh !important;
  width: 100% !important;
  padding: 5px;
  border-radius: 5px;
  background-color: aqua !important;
  display: none;
  flex-direction: row;
  justify-content: end;
}

div.enlarge_preview > div {
  height: 80%;
  overflow-x: hidden;
  flex-direction: column !important;
}

div.enlarge_preview > button {
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: #0477fb;
  color: #f5f0f0;
  align-self: flex-end;
  cursor: pointer;
}

/**/
.triggerSetings {
  height: 35px;
  width: 35px;
  padding: 2px 5px;
  position: fixed;
  top: 0;
  right: 0;
  color: #f8f2f2;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.settingsDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

div.Stopics {
  position: absolute;
  width: 250px;
  background: rgb(240, 233, 206);
  padding: 10px;
  border-radius: 5px;
}

/*loader*/
.loader_ {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-left: 8px solid #0477fb;
  border-right: 8px solid #0477fb;
  border-top: 8px solid #0477fb;
  border-bottom: 8px solid transparent;
  z-index: 1;
  animation: _loader 400ms linear infinite forwards;
  display: block;
}

/*keyframes*/
@keyframes _top {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes _bottom {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes _borderColor {
  0% {
    boder: 2px solid transparent;
  }
  20% {
    border-right: 2px solid var(--borderCommonColor);
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  40% {
    border-bottom: 2px solid var(--borderCommonColor);
    border-right: 2px solid var(--borderCommonColor);
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  60% {
    border-left: 2px solid var(--borderCommonColor);
    border-bottom: 2px solid var(--borderCommonColor);
    border-right: 2px solid var(--borderCommonColor);
    border-top: 2px solid transparent;
  }
  80% {
    border-top: 2px solid var(--borderCommonColor);
    border-left: 2px solid var(--borderCommonColor);
    border-bottom: 2px solid var(--borderCommonColor);
    border-right: 2px solid var(--borderCommonColor);
  }
  100% {
    border: 2px solid var(--borderCommonColor);
  }
}

@keyframes _loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
